////////////////////////////////////////////////////////////////////// Framework
//------------------------------------------------------------------------------
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 1;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  overflow: hidden;
}

/////////////////////////////////////////////////////////////////////////// Text
//------------------------------------------------------------------------------
input, textarea { outline: none; }

p, h1, h2, h3, h4, h5, h6, ul, li, div, a, section {
  margin: 0;
  padding: 0;
  font-family: $font;
  font-weight: 400;
  color: black;
  box-sizing: border-box;
  transition: 250ms;
}

a {
  display: block;
  &:hover {
    text-decoration: underline;
  }
}
img { box-sizing: border-box; display: block; }

h1 { font-size: 55px; line-height: 57px; margin-left: -3px; margin-top: -3px; }
h2 { font-size: 40px; line-height: 42px; }
h3 { font-size: 34px; line-height: 36px; }
h4 { font-size: 30px; line-height: 32px; }
h5 { font-size: 24px; line-height: 26px; }
h6 { font-size: 20px; line-height: 22px; }
p, li, a, div { font-size: 16px; line-height: 18px; }
li { list-style: none; }
a {
  text-decoration: none;
  cursor: pointer;
  transition: 250ms;
  &:hover {
    transition: 250ms;
  }
}

///////////////////////////////////////////////////////////////// Flex structure
//------------------------------------------------------------------------------
.flex-c { @include display-flex; @include flex-column; @include flex-no-wrap; @include flex-center; @include flex-middle; }
.flex-r { @include display-flex; @include flex-row; @include flex-no-wrap; @include flex-center; @include flex-middle; }
.col { @include display-flex; @include flex-column; @include flex-no-wrap; }
.row { @include display-flex; @include flex-row; @include flex-no-wrap; }
.wrap { @include flex-wrap; }
////////////////////////////////////////////////////////// [justify] positioning
.start { @include flex-start; }
.center { @include flex-center; }
.end { @include flex-end; }
//////////////////////////////////////////////////////////// [align] positioning
.top { @include flex-top; }
.middle { @include flex-middle; }
.bottom { @include flex-bottom; }
.self-start { @include self-start; }
.self-end { @include self-end; }
//////////////////////////////////////////////////////////////////////// spacing
.between { @include flex-between; }

/////////////////////////////////////////////////////////////////////// Elements
//------------------------------------------------------------------------------

//////////////////////////////////////////////////////////// Structural elements
//------------------------------------------------------------------------------
.wrapper, .console, .content {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  z-index: 1;
}

.console {
  z-index: 3;
  position: absolute;
  top: 50px;
  left: 50px;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  border: 1px solid white;
}

.content {
  z-index: 4;
  width: calc(100% - 51px);
  height: 100%;
  float: left;
}

.theme {
  #landingVIDEO, #landingGIF {
    opacity: 0 !important;
  }
  #animCANVAS {
    opacity: 1 !important;
    transition: 2500ms !important;
    transition-delay: 250ms !important;
  }
  .console {
    border-color: black !important;
  }
  #nav {
    border-color: black !important;
  }
}

///////////////////////////////////////////////////////////////// Other elements
//------------------------------------------------------------------------------
#landscapeIND {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background: white;
  img {
    margin-bottom: 25px;
  }
  p {
    max-width: 50%;
    text-align: center;
  }
}

#nav {
  float: left;
  width: 50px;
  border-right: 1px solid white;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  transition: 250ms;
  .navB, .sharingB {
    width: 100%;
    height: 50px;
    position: relative;
    cursor: pointer;
    z-index: 10;
    transition: 250ms;
    &:hover {
      transition: 250ms;
      &:before {
        transition: 250ms;
        transition-delay: 175ms;
        opacity: 1;
        visibility: visible;
        transform: translateX(-15px);
      }
      &:after {
        transition: 250ms;
        transition-delay: 150ms;
        width: 100%;
      }
      img {
        transition: 250ms;
        z-index: 10;
        &:nth-child(1) {
          opacity: 1;
        }
        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
    &:before, &:after {
      transition: 250ms;
    }
    &:before {
      @include flex-c;
      height: 50px;
      position: absolute;
      top: calc(50% - 25px);
      left: calc(100% + 15px);
      width: 160px;
      background: black;
      color: white;
      opacity: 0;
      visibility: hidden;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0px;
      width: 0;
      height: 100%;
      background: black;
    }
    img {
      width: 22px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: 250ms;
      &:nth-child(1) {
        opacity: 0;
      }
      &:nth-child(2) {
        opacity: 1;
      }
    }
    p {
      display: none;
    }
  }
  #sharingICONS {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  #homeB:before { content: 'HOME'; }
  #aboutB:before { content: 'WHO WE ARE'; }
  #lookbookB:before { content: 'VIEW LOOK BOOK'; }
  #instagramB:before { content: 'INSTAGRAM'; }
  #pinterestB:before { content: 'INSPIRATION'; }
  #vimeoB:before { content: 'VIDEOS'; }
}

#logo {
  width: 700px;
}

#animCANVAS {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
  opacity: 0;
  transition: 250ms;
  /*transition-delay: 250ms;*/
}

#landingVIDEO {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 2;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: 250ms;
}

#landingGIF {
  display: none;
  @include centerImage;
  background-image: url('../images/gif.gif');
  background-position: -80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.activeSECTION {
  transform: translateY(-100%) !important;
}
.contentSECTION {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% + 25px);
  height: 100%;
  transition: 250ms;
  padding: 25px;
  padding-right: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
  .introTEXT {
    width: 100%;
    height: 80%;
    h6 {
      font-weight: 600;
      max-width: 60%;
      text-align: center;
      background: rgba(255, 255, 255, 0.7);
      padding: 15px;
      margin-bottom: 15px;
    }
  }
}

#homeSECTION {
  overflow: hidden;
  h5, p {
    color: white;
  }
}

#aboutSECTION {
  padding: 0;
  overflow: hidden;
  #aboutMAP, #aboutCONTENT {
    height: 100%;
    float: left;
  }
  #aboutMAP {
    width: calc(50% - 25px);
    border-right: 1px solid black;
  }
  #aboutCONTENT {
    padding: 25px 50px 25px calc(50% + 12.5px);
    padding-right: 50px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  #aboutINTRO {
    h6 {
      display: inline-block;
      background: rgba(255, 255, 255, 0.7);
      padding: 15px;
      margin-bottom: 15px;
    }
  }
  #peopleTILES {
    display: inline-block;
    .personTILE {
      width: calc(33.333% - 16.667px);
      margin-right: 25px;
      float: left;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 100%;
        margin-bottom: 15px;
      }
      h5, span, a {
        display: inline-block;
        float: left;
        clear: both;
        margin-bottom: 5px;
      }
      span {
        font-style: italic;
      }
    }
  }
}

#lookbookSECTION {
  p {
    margin: 25px 0;
  }
  img {
    height: auto;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    &.imgHALF {
      width: calc(50% - 12.5px);
      margin-right: 25px;
      float: left;
      &:nth-child(n+2) {
        &:nth-child(even) {
          margin-right: 0;
        }
      }
      &:nth-child(n+7) {
        &:nth-child(even) {
          margin-right: 25px;
        }
        &:nth-child(odd) {
          margin-right: 0;
        }
      }
    }
    &.imgFULL {
      width: 100%;
    }
  }
}

//
//
//
//
//
//
//
//
//
//
//
