---
layout: default
id: projectsPAGE
permalink: /projects.html
---

<div class="projectLIST">
  <section>
    <h6 class="subtitle">Projects</h6>
    {% for page in site.pages %}
      {% if page.pageTYPE == 'project' %}
          <a href="{{ page.permalink }}" class="projectLINK">
            <img src="{{ site.baseUrl }}/assets/images/projects/{{ page.shortcode }}/logo.png" />
          </a>
      {% endif %}
    {% endfor %}
  </section>
  <section>
    <h6 class="subtitle">In Development</h6>
    <div class="developmentSECTION">
      <p class="title">Genesis</p>
      <p>We are in development with Belladonna Productions in NYC, and the German broadcast network, ZDF Enterprises, on an original science fiction TV series, called Genesis.</p>
      <p>In the press:</p>
      <a href="http://variety.com/2017/tv/news/zdf-enterprises-belladonna-productions-genesis-1202392550/" target="_blank">Variety press release</a>
      <a href="http://www.serieseries.fr/en/prog_series.php" target="_blank">What's Next at Series Series in Fontainebleau France</a>
      <p class="title">Nomads</p>
      <p>We are also in development of an original documentary series called Nomads, in partnership with Libraries Without Borders and their Ideas Box, a Google-funded initiative to bring media labs into sensitive areas around the world. In addition, Nomads is being worked into a scripted series.</p>
    </div>
  </section>
</div>
