<nav id="nav">
  <a href="/" class="staticNavB" id="homeB" data-num="0">
    <img src="{{ site.baseurl }}/assets/core/icons/home_icon_white.svg" />
    <img src="{{ site.baseurl }}/assets/core/icons/home_icon_black.svg" />
    <p>HOME</p>
  </a>
  <a href="/about" class="staticNavB" id="aboutB" data-num="1">
    <img src="{{ site.baseurl }}/assets/core/icons/brain_icon_white.svg" />
    <img src="{{ site.baseurl }}/assets/core/icons/brain_icon_black.svg" />
    <p>WHO WE ARE</p>
  </a>
  <a href="/lookbook" class="staticNavB" id="lookbookB" data-num="2">
    <img src="{{ site.baseurl }}/assets/core/icons/lookbook_icon_white.svg" />
    <img src="{{ site.baseurl }}/assets/core/icons/lookbook_icon_black.svg" />
    <p>LOOKBOOK</p>
  </a>
  <a href="/projects" class="staticNavB" id="projectsB" data-num="3">
    <img src="{{ site.baseurl }}/assets/core/icons/projects_icon_white.svg" />
    <img src="{{ site.baseurl }}/assets/core/icons/projects_icon_black.svg" />
    <p>PROJECTS</p>
  </a>
  <div id="sharingICONS">
    <a href="https://www.instagram.com/moogmedia/" target="_blank" class="sharingB" id="instagramB">
      <img src="{{ site.baseurl }}/assets/core/icons/instagram_icon_white.svg" />
      <img src="{{ site.baseurl }}/assets/core/icons/instagram_icon_black.svg" />
    </a>
    <a href="https://www.pinterest.com/narinaj/moog-mood-board/" target="_blank" class="sharingB" id="pinterestB">
      <img src="{{ site.baseurl }}/assets/core/icons/pinterest_icon_white.svg" />
      <img src="{{ site.baseurl }}/assets/core/icons/pinterest_icon_black.svg" />
    </a>
    <a href="https://vimeo.com/user58093581" target="_blank" class="sharingB" id="vimeoB">
      <img src="{{ site.baseurl }}/assets/core/icons/vimeo_icon_white.svg" />
      <img src="{{ site.baseurl }}/assets/core/icons/vimeo_icon_black.svg" />
    </a>
  </div>
</nav>
