///////////////////////////////////////////////////////////////////// PreLoader
//-----------------------------------------------------------------------------
#pre-loader {
  @include display-flex;
  @include flex-row;
  @include flex-center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: black;
  z-index: 10000;
  font-size: 50px;
  line-height: 54px;
  font-weight: 700;
  color: white;
  img {
    width: 35px;
    height: 35px;
  }
}

////////////////////////////////////////////////////////////////////////// Logo
//-----------------------------------------------------------------------------
#logo {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 250px;
}

/////////////////////////////////////////////////////////////////////////// Nav
//-----------------------------------------------------------------------------
#nav {
  position: absolute;
  top: 50px;
  right: 50px;

  #menuB {
    cursor: pointer;
  }

  img {
    width: 30px;
  }

  #menu {
    @include display-flex;
    @include flex-column;
    @include flex-bottom;
    position: fixed;
    top: 105px;
    right: 50px;
    .menuItem {
      font-size: 24px;
      line-height: 28px;
      font-weight: 600;
      padding-bottom: 10px;
      text-transform: uppercase;
    }
  }
}

////////////////////////////////////// Nav on Our Work and single Project pages
//-----------------------------------------------------------------------------
.work-nav, .project-nav {
  @include display-flex;
  @include flex-row;
  @include flex-between;
  @include flex-middle;
  padding: 0;
  height: 50px;
  img {
    width: 20px;
    cursor: pointer;
  }
}

.work-nav-title, .project-nav-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}

.project-toolbar {
  @include display-flex;
  @include flex-row;
  @include flex-middle;
}

.back-to-projects-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 25px;
  margin-right: 25px;
  color: white;
  position: relative;
  br {
    display: none
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: white;
  }
}

/////////////////////////////////////////////////////////////////// Video Timer
//-----------------------------------------------------------------------------
#video-timer {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: auto;

  #video-timer-track {
    position: absolute;
    top: -2px;
    left: 25%;
    width: 50%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    #video-timer-seeker {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: white;
      transition: 500ms;
    }
  }

  #video-timer-markers {
    @include display-flex;
    @include flex-row;
    @include flex-center;
    padding-top: 15px;
  }

  .video-timer-marker {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    padding: 0 12.5px;
    cursor: pointer;
    transition: 150ms;
    &:hover {
      transition: 150ms;
      color: white;
    }
    &.active {
      color: white;
    }
  }
}

////////////////////////////////////////////////////////////// Background Video
//-----------------------------------------------------------------------------
.videoWRAPPER {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  #videoOVERLAY {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
}

////////////////////////////////////////////////////////////////// Project Tile
//-----------------------------------------------------------------------------
.project-tile {
  width: 50%;
  padding-top: 28.125%;
  float: left;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: 500ms;
  &.active {
    opacity: 1;
    .project-tile-thumbnail {
      @include transform(scale(1));
    }
  }
  &:hover {
    .project-tile-overlay {
      transition: 150ms;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .project-tile-thumbnail {
      @include transform(scale(1.5));
      transition: 20000ms;
    }
  }
}

.project-tile-thumbnail, .project-tile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-tile-thumbnail {
  @include centerImage;
  @include transform(scale(1.05));
  z-index: 0;
  transition: 800ms;
}

.project-tile-overlay {
  @include flex-c;
  z-index: 10;
  transition: 150ms;
  .project-tile-title, .project-tile-status {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  .project-tile-title {
    font-size: 24px;
    line-height: 28px;
  }
}

////////////////////////////////////////////////////////////////// Project Page
//-----------------------------------------------------------------------------
.project-banner {
  @include centerImage;
  width: 100%;
  padding-top: 56.25%;
}

////////////////////////////////////////////////////////////////////////// Logo
//-----------------------------------------------------------------------------
.project-body {
  width: 100%;
  padding-bottom: 15px;
}

.flickity-viewport, .flickity-slider, .carousel-cell {
  height: 100%;
}

.fsn-gallery {
  height: 500px;
}

.carousel-cell {
  img {
    height: 100%;
  }
}

.main-carousel {
  overflow: hidden;
  outline: none;
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
  height: 100%;
  .flickity-prev-next-button {
    position: absolute;
    top: calc(50% - 50px/2);
    z-index: 10;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 0;
    border-radius: 0;
    &.previous {
      left: 0;
    }
    &.next {
      right: 0;
    }
    .arrow {
      fill: white;
    }
  }
}








//
