///////////////////////////////////////////////////////////////////// Home Page
//-----------------------------------------------------------------------------
#homePAGE {
  display: none;
}

#workPAGE {
  z-index: 50;
}

#projectPAGE {
  z-index: 100;
}

#contactPAGE {
  .page-modal {
    box-shadow: none;
    background-color: transparent;
  }
}

.contact-page {
  background-color: rgba(0, 0, 0, 0.75);
}













//
