///////////////////////////////////////////////////////////////////// Home Page
//-----------------------------------------------------------------------------
#homePAGE {
  display: none;
}

///////////////////////////////////////////////////////////////////// Work Page
//-----------------------------------------------------------------------------
#workPAGE {
  z-index: 50;
  .page-modal {
    @include display-flex;
    @include flex-row;
    @include flex-wrap;
  }
}

////////////////////////////////////////////////////////////////// Project Page
//-----------------------------------------------------------------------------
#projectPAGE {
  z-index: 100;

  // project-video-slide // project-intro-slide // project-gallery-slide
  // project-text-slide // project-single-image-slide // project-subtitle-slide (h2 tags)

  .project-video-slide, .project-intro-slide, .project-gallery-slide,
  .project-text-slide, .project-single-image-slide, .project-subtitle-slide,
  .project-press-slide, .project-banner-slide {
    padding: 50px;
    // padding-top: 25px;
    // padding-bottom: 25px;
    // padding-left: 50px;
    // padding-right: 50px;
    // &:first-child {
    //   padding-top: 50px;
    // }
    &:last-child {
      padding-bottom: 0;
    }
  }

  // FULL WIDTH slides (VIDEO, GALLERY)
  .project-video-slide, .project-gallery-slide {
    padding-left: 0;
    padding-right: 0;
  }

  // TEXT slides (TEXT, INTRO)
  .project-text-slide, .project-intro-slide {
    .fsn-text {
      text-align: center;
      width: 400px;
      text-align: justify;
      margin: 0 auto;
      p {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  // IMG slides (INTRO, IMAGE)
  .project-intro-slide, .project-single-image-slide {
    img {
      width: 500px;
      height: auto;
      margin: 0 auto;
    }
  }

  // SUBTITLED slides (SUBTITLE, PRESS)
  .project-subtitle-slide, .project-press-slide {
    h2 {
      font-size: 24px;
      line-height: 28px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
  }

  // INTRO slide
  .project-intro-slide {
    @include flex-c;
    img {
      margin-bottom: 50px;
    }
  }

  // VIDEO slide
  .project-video-slide {
    padding-left: 0;
    padding-right: 0;
    .embed-container {
      position: relative;
    	padding-bottom: 56.25%;
    	padding-top: 25px;
    	height: 0;
      width: calc(100% + 30px);
      left: -15px;

      iframe {
        position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
      }
    }
  }

  // SUBTITLE (h2 tag) slide
  .project-subtitle-slide {
    p {
      text-align: justify;
    }
  }

  // PRESS slide
  .project-press-slide {
    h2 {
      margin-bottom: 25px;
    }
    img {
      display: inline-block;
      width: 200px;
      height: auto;
      margin-right: 50px;
    }
  }

  // BANNER slide
  .project-banner-slide {
    img {
      width: 100%;
      height: auto;
    }
  }
}

////////////////////////////////////////////////////////////////// Contact Page
//-----------------------------------------------------------------------------
#contactPAGE {
  .page-modal {
    box-shadow: none;
    background-color: transparent;
  }
}

.contact-page {
  background-color: rgba(0, 0, 0, 0.75);
}

///////////////////////////////////////////////////////////////////// Team Page
//-----------------------------------------------------------------------------
#teamPAGE {
  .team-profiles {
    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .container-fluid, .col-sm-6 {
      padding: 0;
    }

    .fsn-image {
      img {
        width: 100%;
        height: auto;
      }
    }

    .fsn-text {
      position: absolute;
      bottom: 25px;
      left: 25px;
      padding: 15px 25px;
      background-color: rgba(255, 255, 255, 0.85);
      h3, h4, a {
        color: black;
        font-weight: 600;
        text-transform: uppercase;
      }
      a {
        margin-top: 5px;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////// White Theme
//-----------------------------------------------------------------------------
.whiteTheme {
  background-color: white;
  transition: 150ms;

  #logo-white {
    opacity: 0;
  }

  #logo-black {
    opacity: 0.3;
  }

  #nav {
    opacity: 0.3;
    #menuB {
      .button-black {
        opacity: 1;
      }
      .button-white {
        opacity: 0;
      }
    }
  }

  .videoWRAPPER, .home-gallery, #videoTimer {
    transition: 150ms;
    opacity: 0;
  }

  .page-overlay {
    transition: 150ms;
    background-color: transparent;
  }

  .project-modal {
    transition: 150ms;
    box-shadow: none;
  }

  .project-nav-title, .back-to-projects-button {
    color: black;
  }

  .back-to-projects-button {
    &:after {
      transition: 150ms;
      background-color: black;
    }
  }

  .closeModalB {
    img {
      &:first-child { opacity: 0; }
      &:last-child { opacity: 1; }
    }
  }
}










//
