////////////////////////////////////////////////////////////////////// < 1140px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 1140px) {
  $pad: 32px;

  #logo, #nav {
    top: $pad;
  }

  #logo {
    left: $pad;
  }

  #pre-loader {
    top: $pad;
  }

  .logo {
    top: $pad;
    left: $pad;
  }

  #nav {
    right: $pad;
    #menu {
      top: calc(50px + #{$pad});
      right: $pad;
    }
  }

  #video-timer {
    bottom: $pad;
  }

  .page-modal, .project-nav {
    width: calc(100% - #{$pad*2});
    max-width: none;
    left: $pad;
    margin-bottom: $pad;
  }
}

/////////////////////////////////////////////////////////////// < 1024px device
//-----------------------------------------------------------------------------
@media only screen and (max-device-width: 1024px) {
  .videoWRAPPER {
    display: none;
  }
}

/////////////////////////////////////////////////////////////////////// < 768px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 768px) {
  $pad: 24px;

  #logo, #nav {
    top: $pad;
  }

  #logo {
    top: $pad;
    left: $pad;
  }

  #pre-loader {
    @include flex-middle;
    top: $pad - 3px;
    left: auto;
    right: $pad * 3;
    width: 30px;
    height: 30px;
  }

  #nav {
    right: $pad;
    #menu {
      top: calc(50px + #{$pad});
      right: $pad;
    }
  }

  #video-timer {
    bottom: $pad;
  }

  .page-modal, .project-nav {
    width: calc(100% - #{$pad*2});
    left: $pad;
    margin-bottom: $pad;
  }
}

//////////////////////////////////////////////////////////////// < 768px device
//-----------------------------------------------------------------------------
@media only screen and (max-device-width: 768px) {
  html, body {
    overflow-y: hidden;
  }
}

/////////////////////////////////////////////////////////////////////// < 737px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 737px) {
  $pad: 24px;

  .logo {
    top: $pad;
    left: $pad;
    width: 200px;
  }

  #pre-loader {
    @include flex-top;
    @include flex-end;
    top: $pad;
    right: $pad * 3;
    width: 20px;
    height: 20px;
  }

  #nav {
    img {
      width: 25px;
    }
    #menu {
      top: $pad * 3;
      right: $pad;
    }
  }

  .page-overlay {
    padding-top: 100px;
  }

  .page-modal, .project-nav, .work-nav {
    width: calc(100% - #{$pad*2});
    left: $pad;
    margin-bottom: $pad;
  }

  .page-modal {
    top: 150px;
    .container {
      width: 100%;
    }
    &.contact-container {
      height: 151px;
      top: calc(50% - 151px/2);
    }
  }

  .fsn-gallery {
    height: 250px;
  }

  #video-timer {
    #video-timer-track {
      display: none;
    }
    .video-timer-marker {
      font-size: 16px;
      line-height: 20px;
      padding: 0 10px;
    }
  }

  .team-intro-text {
    width: 100%;
  }

  #projectPAGE {
    // project-video-slide // project-intro-slide // project-gallery-slide
    // project-text-slide // project-single-image-slide // project-subtitle-slide (h2 tags)
    .project-video-slide, .project-intro-slide, .project-gallery-slide,
    .project-text-slide, .project-single-image-slide, .project-subtitle-slide,
    .project-press-slide, .project-banner-slide {
      padding-top: $pad / 2;
      padding-bottom: $pad / 2;
      padding-left: $pad;
      padding-right: $pad;
      &:first-child {
        padding-top: $pad;
      }
    }

    // FULL WIDTH slides (VIDEO, GALLERY)
    .project-video-slide, .project-gallery-slide {
      padding-left: 0;
      padding-right: 0;
    }

    // TEXT slides (TEXT, INTRO)
    .project-text-slide, .project-intro-slide {
      .fsn-text {
        width: 100%;
      }
    }

    // IMG slides (INTRO, IMAGE)
    .project-intro-slide, .project-single-image-slide {
      img {
        width: 80%;
        height: auto;
        margin: 0 auto;
      }
    }

    // INTRO slide
    .project-intro-slide {
      img {
        margin-bottom: $pad;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////// < 415px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 415px) {
  $pad: 15px;

  .logo, #nav {
    top: $pad;
  }

  .logo {
    left: $pad;
  }

  #pre-loader {
    @include flex-top;
    @include flex-end;
    top: $pad;
    right: $pad * 4;
  }

  #nav {
    right: $pad;
    #menu {
      top: $pad * 3;
      right: $pad;
    }
  }

  #video-timer {
    bottom: $pad;
  }

  .page-modal, .project-nav, .work-nav {
    width: calc(100% - #{$pad*2});
    left: $pad;
    margin-bottom: $pad;
  }

  .project-nav-title {
    font-size: 18px;
    line-height: 18px;
  }

  .page-modal {
    &.contact-container {
      top: 200px;
    }
  }

  .project-tile {
    width: 100%;
    padding-top: 56.25%;
  }

  .back-to-projects-button {
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
    br {
      display: block;
    }
  }

  .contact-box {
    width: 100%;
    left: 0;
    &:last-child {
      top: 82px;
    }
    .contact-title {
      font-size: 16px;
      line-height: 20px;
    }
    .contact-email {
      font-size: 26px;
      line-height: 30px;
    }
  }

  .team-intro-text {
    padding: 15px;
  }

  .main-carousel {
    width: 100%;
    left: 0;
  }

  #teamPAGE {
    .team-profiles {
      .fsn-text {
        bottom: 15px;
        left: 15px;
        padding: 15px;
        width: calc(100% - 30px);
        background-color: rgba(255, 255, 255, 0.75);
        h3 {
          font-size: 18px;
          line-height: 22px;
        }
        h4 {
          font-size: 14px;
          line-height: 18px;
        }
        a {
          font-size: 12px;
          line-height: 16px;
          margin: 0;
          display: none;
        }
      }
    }
  }

  #projectPAGE {
    .container-fluid {
      padding: 0;
    }
    // project-video-slide // project-intro-slide // project-gallery-slide
    // project-text-slide // project-single-image-slide // project-subtitle-slide (h2 tags)
    .project-video-slide, .project-intro-slide, .project-gallery-slide,
    .project-text-slide, .project-single-image-slide, .project-subtitle-slide,
    .project-press-slide, .project-banner-slide {
      padding-top: $pad / 2;
      padding-bottom: $pad / 2;
      padding-left: $pad;
      padding-right: $pad;
      &:first-child {
        padding-top: $pad;
      }
    }

    // FULL WIDTH slides (VIDEO, GALLERY)
    .project-video-slide, .project-gallery-slide {
      padding-left: 0;
      padding-right: 0;
    }

    // INTRO slide
    .project-intro-slide {
      img {
        margin-bottom: $pad;
      }
    }

    // VIDEO slide
    .project-video-slide {
      .embed-container {
        width: 100%;
        left: 0;
      }
    }
  }
}




















//
