////////////////////////////////////////////////////////////////////// < 1140px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 1140px) {
  $pad: 32px;

  #logo, #nav {
    top: $pad;
  }

  #logo {
    left: $pad;
  }

  #pre-loader {
    padding-top: $pad;
  }

  #nav {
    right: $pad;
    #menu {
      top: calc(50px + #{$pad});
      right: $pad;
    }
  }

  #video-timer {
    bottom: $pad;
  }

  .page-modal {
    width: 960px;
    left: calc(50% - 960px/2);
    margin-bottom: $pad;
  }
}

/////////////////////////////////////////////////////////////// < 1024px device
//-----------------------------------------------------------------------------
@media only screen and (max-device-width: 1024px) {
  .videoWRAPPER {
    display: none;
  }
}

/////////////////////////////////////////////////////////////////////// < 768px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 768px) {
  $pad: 24px;

  #logo, #nav {
    top: $pad;
  }

  #logo {
    left: $pad;
  }

  #pre-loader {
    @include flex-middle;
    padding-top: 0;
  }

  #nav {
    right: $pad;
    #menu {
      top: calc(50px + #{$pad});
      right: $pad;
    }
  }

  #video-timer {
    bottom: $pad;
  }

  .page-modal {
    width: 720px;
    left: calc(50% - 720px/2);
    margin-bottom: $pad;
  }
}

//////////////////////////////////////////////////////////////// < 768px device
//-----------------------------------------------------------------------------
@media only screen and (max-device-width: 768px) {
  html, body {
    overflow-y: hidden;
  }
}

/////////////////////////////////////////////////////////////////////// < 737px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 737px) {
  $pad: 24px;

  #logo {
    width: 200px;
  }

  #pre-loader {
    @include flex-top;
    @include flex-end;
    padding-top: $pad;
    padding-right: calc(#{$pad*3});
    img {
      width: 20px;
      height: 20px;
    }
  }

  #nav {
    img {
      width: 25px;
    }
    #menu {
      top: calc(#{$pad*3});
      right: $pad;
    }
  }

  .page-overlay {
    padding-top: 100px;
  }

  .project-nav, .work-nav {
    padding: 0 $pad;
  }

  .page-modal {
    width: calc(100vw - #{$pad*2});
    left: $pad;
    top: 150px;
    margin-bottom: $pad;
    .container {
      width: 100%;
    }
    &.contact-container {
      height: 151px;
      top: calc(50% - 151px/2);
    }
  }

  .fsn-gallery {
    height: 250px;
  }

  #video-timer {
    #video-timer-track {
      display: none;
    }
    .video-timer-marker {
      font-size: 16px;
      line-height: 20px;
      padding: 0 10px;
    }
  }

  .team-intro-text {
    width: 100%;
  }

  #projectPAGE {
    // project-video-slide // project-intro-slide // project-gallery-slide
    // project-text-slide // project-single-image-slide // project-subtitle-slide (h2 tags)

    .project-video-slide, .project-intro-slide, .project-gallery-slide,
    .project-text-slide, .project-single-image-slide, .project-subtitle-slide,
    .project-press-slide, .project-banner-slide {
      padding-top: #{$pad/2};
      padding-bottom: #{$pad/2};
      padding-left: $pad;
      padding-right: $pad;
      &:first-child {
        padding-top: $pad;
      }
    }

    // FULL WIDTH slides (VIDEO, GALLERY)
    .project-video-slide, .project-gallery-slide {
      padding-left: 0;
      padding-right: 0;
    }

    // TEXT slides (TEXT, INTRO)
    .project-text-slide, .project-intro-slide {
      .fsn-text {
        // text-align: center;
        width: 100%;
        // text-align: justify;
        // margin: 0 auto;
        // p {
        //   margin-bottom: 15px;
        //   &:last-child {
        //     margin-bottom: 0;
        //   }
        // }
      }
    }

    // IMG slides (INTRO, IMAGE)
    .project-intro-slide, .project-single-image-slide {
      img {
        width: 80%;
        height: auto;
        margin: 0 auto;
      }
    }

    // // SUBTITLED slides (SUBTITLE, PRESS)
    // .project-subtitle-slide, .project-press-slide {
    //   h2 {
    //     font-size: 24px;
    //     line-height: 28px;
    //     font-weight: 600;
    //     text-transform: uppercase;
    //     margin-bottom: 5px;
    //   }
    // }

    // INTRO slide
    .project-intro-slide {
      img {
        margin-bottom: $pad;
      }
    }

    // // VIDEO slide
    // .project-video-slide {
    //   padding-left: 0;
    //   padding-right: 0;
    //   .embed-container {
    //     position: relative;
    //   	padding-bottom: 56.25%;
    //   	padding-top: 25px;
    //   	height: 0;
    //     width: calc(100% + 30px);
    //     left: -15px;
    //
    //     iframe {
    //       position: absolute;
    //     	top: 0;
    //     	left: 0;
    //     	width: 100%;
    //     	height: 100%;
    //     }
    //   }
    // }
    //
    // // SUBTITLE (h2 tag) slide
    // .project-subtitle-slide {
    //   p {
    //     text-align: justify;
    //   }
    // }
    //
    // // PRESS slide
    // .project-press-slide {
    //   h2 {
    //     margin-bottom: 25px;
    //   }
    //   img {
    //     display: inline-block;
    //     width: 200px;
    //     height: auto;
    //     margin-right: 50px;
    //   }
    // }
    //
    // // BANNER slide
    // .project-banner-slide {
    //   img {
    //     width: 100%;
    //     height: auto;
    //   }
    // }
  }
}

/////////////////////////////////////////////////////////////////////// < 415px
//-----------------------------------------------------------------------------
@media only screen and (max-width: 415px) {
  $pad: 15px;

  #logo, #nav {
    top: $pad;
  }

  #logo {
    left: $pad;
  }

  #pre-loader {
    @include flex-top;
    @include flex-end;
    padding-top: $pad;
    padding-right: calc(#{$pad*4});
    img {
      width: 20px;
      height: 20px;
    }
  }

  #nav {
    right: $pad;
    #menu {
      top: calc(#{$pad*3});
      right: $pad;
    }
  }

  #video-timer {
    bottom: $pad;
  }

  .project-nav, .work-nav {
    padding: 0 $pad;
  }

  .page-modal {
    width: calc(100vw - #{$pad*2});
    left: $pad;
    margin-bottom: $pad;
    &.contact-container {
      top: 200px;
    }
  }

  .project-tile {
    width: 100%;
    padding-top: 56.25%;
  }

  .back-to-projects-button {
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
    br {
      display: block;
    }
  }

  .contact-box {
    width: 100%;
    left: 0;
    &:last-child {
      top: 82px;
    }
    .contact-title {
      font-size: 16px;
      line-height: 20px;
    }
    .contact-email {
      font-size: 26px;
      line-height: 30px;
    }
  }

  .team-intro-text {
    padding: 15px;
  }

  .main-carousel {
    width: 100%;
    left: 0;
  }

  #teamPAGE {
    .team-profiles {
      .fsn-text {
        bottom: 15px;
        left: 15px;
        padding: 15px;
        width: calc(100% - 30px);
        background-color: rgba(255, 255, 255, 0.75);
        h3 {
          font-size: 18px;
          line-height: 22px;
        }
        h4 {
          font-size: 14px;
          line-height: 18px;
        }
        a {
          font-size: 12px;
          line-height: 16px;
          margin: 0;
          display: none;
        }
      }
    }
  }

  #projectPAGE {
    .container-fluid {
      padding: 0;
    }
    // project-video-slide // project-intro-slide // project-gallery-slide
    // project-text-slide // project-single-image-slide // project-subtitle-slide (h2 tags)
    .project-video-slide, .project-intro-slide, .project-gallery-slide,
    .project-text-slide, .project-single-image-slide, .project-subtitle-slide,
    .project-press-slide, .project-banner-slide {
      padding-top: #{$pad/2};
      padding-bottom: #{$pad/2};
      padding-left: $pad;
      padding-right: $pad;
      &:first-child {
        padding-top: $pad;
      }
    }

    // FULL WIDTH slides (VIDEO, GALLERY)
    .project-video-slide, .project-gallery-slide {
      padding-left: 0;
      padding-right: 0;
    }

    // TEXT slides (TEXT, INTRO)
    // .project-text-slide, .project-intro-slide {
    //   .fsn-text {
    //     text-align: center;
    //     width: 100%;
    //     text-align: justify;
    //     margin: 0 auto;
    //     p {
    //       margin-bottom: 15px;
    //       &:last-child {
    //         margin-bottom: 0;
    //       }
    //     }
    //   }
    // }

    // IMG slides (INTRO, IMAGE)
    // .project-intro-slide, .project-single-image-slide {
    //   img {
    //     width: 80%;
    //     height: auto;
    //     margin: 0 auto;
    //   }
    // }

    // // SUBTITLED slides (SUBTITLE, PRESS)
    // .project-subtitle-slide, .project-press-slide {
    //   h2 {
    //     font-size: 24px;
    //     line-height: 28px;
    //     font-weight: 600;
    //     text-transform: uppercase;
    //     margin-bottom: 5px;
    //   }
    // }

    // INTRO slide
    .project-intro-slide {
      img {
        margin-bottom: $pad;
      }
    }

    // VIDEO slide
    .project-video-slide {
      // padding-left: 0;
      // padding-right: 0;
      .embed-container {
        // position: relative;
      	// padding-bottom: 56.25%;
      	// padding-top: 25px;
      	// height: 0;
        width: 100%;
        left: 0;

        // iframe {
        //   position: absolute;
        // 	top: 0;
        // 	left: 0;
        // 	width: 100%;
        // 	height: 100%;
        // }
      }
    }

    // // SUBTITLE (h2 tag) slide
    // .project-subtitle-slide {
    //   p {
    //     text-align: justify;
    //   }
    // }
    //
    // // PRESS slide
    // .project-press-slide {
    //   h2 {
    //     margin-bottom: 25px;
    //   }
    //   img {
    //     display: inline-block;
    //     width: 200px;
    //     height: auto;
    //     margin-right: 50px;
    //   }
    // }
    //
    // // BANNER slide
    // .project-banner-slide {
    //   img {
    //     width: 100%;
    //     height: auto;
    //   }
    // }
  }
}




















//
