////////////////////////////////////////////////////////////////////// Framework
//------------------------------------------------------------------------------
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 1;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  overflow: hidden;
}

/////////////////////////////////////////////////////////////////////////// Text
//------------------------------------------------------------------------------
input, textarea { outline: none; }

p, h1, h2, h3, h4, h5, h6, ul, li, div, a, section {
  margin: 0;
  padding: 0;
  font-family: $font;
  font-weight: 400;
  color: black;
  box-sizing: border-box;
  transition: 250ms;
}

a {
  display: block;
  &:hover {
    text-decoration: underline;
  }
}
img { box-sizing: border-box; display: block; }

h1 { font-size: 55px; line-height: 57px; margin-left: -3px; margin-top: -3px; }
h2 { font-size: 40px; line-height: 42px; }
h3 { font-size: 34px; line-height: 36px; }
h4 { font-size: 30px; line-height: 32px; }
h5 { font-size: 24px; line-height: 26px; }
h6 { font-size: 20px; line-height: 22px; }
p, li, a, div { font-size: 16px; line-height: 18px; }
li { list-style: none; }
a {
  text-decoration: none;
  cursor: pointer;
  transition: 250ms;
  &:hover {
    transition: 250ms;
  }
}

///////////////////////////////////////////////////////////////// Flex structure
//------------------------------------------------------------------------------
.flex-c { @include display-flex; @include flex-column; @include flex-no-wrap; @include flex-center; @include flex-middle; }
.flex-r { @include display-flex; @include flex-row; @include flex-no-wrap; @include flex-center; @include flex-middle; }
.col { @include display-flex; @include flex-column; @include flex-no-wrap; }
.row { @include display-flex; @include flex-row; @include flex-no-wrap; }
.wrap { @include flex-wrap; }
////////////////////////////////////////////////////////// [justify] positioning
.start { @include flex-start; }
.center { @include flex-center; }
.end { @include flex-end; }
//////////////////////////////////////////////////////////// [align] positioning
.top { @include flex-top; }
.middle { @include flex-middle; }
.bottom { @include flex-bottom; }
.self-start { @include self-start; }
.self-end { @include self-end; }
//////////////////////////////////////////////////////////////////////// spacing
.between { @include flex-between; }

/////////////////////////////////////////////////////////////////////// Elements
//------------------------------------------------------------------------------

//////////////////////////////////////////////////////////// Structural elements
//------------------------------------------------------------------------------
.wrapper, .console, .content {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  z-index: 1;
}

.console {
  z-index: 3;
  position: absolute;
  top: 50px;
  left: 50px;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  border: 1px solid black;
}

.content {
  z-index: 4;
  width: calc(100% - 51px);
  height: 100%;
  float: left;
}

///////////////////////////////////////////////////////////////// Other elements
//------------------------------------------------------------------------------
@include keyframes(fadeCYCLE) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#preLOADER {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 150ms;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  img {
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: fadeCYCLE 750ms linear infinite;
    -moz-animation:    fadeCYCLE 750ms linear infinite;
    -o-animation:      fadeCYCLE 750ms linear infinite;
    animation:         fadeCYCLE 750ms linear infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction:    alternate;
    -o-animation-direction:      alternate;
    animation-direction:         alternate;
  }
}

#landscapeIND {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background: white;
  img {
    margin-bottom: 25px;
  }
  p {
    max-width: 50%;
    text-align: center;
  }
}

#nav {
  float: left;
  width: 50px;
  border-right: 1px solid black;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  transition: 250ms;
  .navB, .sharingB, .staticNavB {
    width: 100%;
    height: 50px;
    position: relative;
    cursor: pointer;
    z-index: 10;
    transition: 250ms;
    &:hover {
      transition: 250ms;
      &:before {
        transition: 250ms;
        transition-delay: 175ms;
        opacity: 1;
        visibility: visible;
        transform: translateX(-15px);
      }
      &:after {
        transition: 250ms;
        transition-delay: 150ms;
        width: 100%;
      }
      img {
        transition: 250ms;
        z-index: 10;
        &:nth-child(1) {
          opacity: 1;
        }
        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
    &:before, &:after {
      transition: 250ms;
    }
    &:before {
      @include flex-c;
      height: 50px;
      position: absolute;
      top: calc(50% - 25px);
      left: calc(100% + 15px);
      width: 160px;
      background: black;
      color: white;
      opacity: 0;
      visibility: hidden;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0px;
      width: 0;
      height: 100%;
      background: black;
    }
    img {
      width: 22px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: 250ms;
      &:nth-child(1) {
        opacity: 0;
      }
      &:nth-child(2) {
        opacity: 1;
      }
    }
    p {
      display: none;
    }
  }
  #sharingICONS {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  #homeB:before { content: 'HOME'; }
  #aboutB:before { content: 'WHO WE ARE'; }
  #lookbookB:before { content: 'VIEW LOOK BOOK'; }
  #projectsB:before { content: 'PROJECTS'; }
  #instagramB:before { content: 'INSTAGRAM'; }
  #pinterestB:before { content: 'INSPIRATION'; }
  #vimeoB:before { content: 'VIDEOS'; }
  #linkedinB:before { content: 'LINKEDIN'; }
}

#logo {
  width: 500px;
  margin-bottom: 25px;
}

#animCANVAS {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
  transition: 250ms;
  /*transition-delay: 250ms;*/
}

#landingVIDEO {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 2;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transition: 250ms;
}

#landingGIF {
  display: none;
  @include centerImage;
  background-image: url('../assets/images/gif.gif');
  background-position: -80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.activeSECTION {
  transform: translateY(-100%) !important;
}
.contentSECTION {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 25px);
  height: 100%;
  transition: 250ms;
  padding: 25px;
  padding-right: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
  .introTEXT {
    width: 100%;
    height: 80%;
    h6 {
      font-weight: 600;
      max-width: 60%;
      text-align: center;
      background: rgba(255, 255, 255, 0.7);
      padding: 15px;
      margin-bottom: 15px;
    }
  }
}

.subtitle {
  width: 300px;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.developmentSECTION {
  width: 300px;
  p {
    margin-top: 25px;
    /*text-align: justify;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }*/
  }
  a {
    display: inline-block;
    color: $blue500;
    // padding: 2px 5px;
    background: white;
    margin-top: 5px;
  }
}

#homeSECTION {
  overflow: hidden;
  h5, p {
    color: white;
  }
}

#aboutSECTION {
  padding: 0;
  overflow: hidden;
  #aboutMAP, #aboutCONTENT {
    height: 100%;
    float: left;
  }
  #aboutMAP {
    width: calc(50% - 25px);
    border-right: 1px solid black;
  }
  #aboutCONTENT {
    padding: 25px 50px 25px 50%;
    padding-right: 50px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  #aboutINTRO {
    h6 {
      display: inline-block;
      background: rgba(255, 255, 255, 0.7);
      padding: 15px;
      margin-bottom: 15px;
    }
  }
  #peopleTILES {
    display: inline-block;
    .personTILE {
      width: calc(33.333% - 16.667px);
      margin-right: 25px;
      float: left;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 100%;
        margin-bottom: 15px;
      }
      h5, span, a {
        display: inline-block;
        float: left;
        clear: both;
        margin-bottom: 5px;
      }
      span {
        font-style: italic;
      }
    }
  }
}

#lookbookSECTION {
  p {
    margin: 25px 0;
  }
  img {
    height: auto;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    &.imgHALF {
      width: calc(50% - 12.5px);
      margin-right: 25px;
      float: left;
      &:nth-child(n+2) {
        &:nth-child(even) {
          margin-right: 0;
        }
      }
      &:nth-child(n+7) {
        &:nth-child(even) {
          margin-right: 25px;
        }
        &:nth-child(odd) {
          margin-right: 0;
        }
      }
    }
    &.imgFULL {
      width: 100%;
    }
  }
}

.projectLIST {
  @include display-flex;
  @include flex-row;
  @include flex-center;
  section {
    width: 300px;
    &:first-child { margin-right: 25px; }
    &:last-child { margin-left: 25px; }
  }
  .title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .projectLINK {
    width: 280px;
    margin: 25px auto;
    img {
      width: 100%;
      padding: 15px;
      background: rgba(255, 255, 255, 0.7);
    }
  }
}

.arrow {
  @include flex-c;
  width: 50px;
  height: 50px;
  z-index: 100;
  cursor: pointer;
  transition: 150ms;
  &:hover {
    transition: 150ms;
    background: rgba(0, 0, 0, 0.3);
  }
  img {
    width: 25px;
    height: 25px;
  }
}

.slider {
  @include flex-r;
  width: 100%;
  height: calc(100vh - 100px);
  background: white;
  float: left;
  margin-bottom: 25px;
  transition: 150ms;
}

.slick-slider {
  height: 100%;
  width: calc(100% - 100px);
  .slick-list {
    height: 100%;
    .slick-track {
      height: 100%;
      .slick-slide {
        outline: 0;
        overflow: hidden;
      }
      img {
        height: 100%;
        margin: 0 auto;
      }
    }
  }
}

.videoWRAPPER {
	position: relative;
	padding-bottom: 32.25%;
	padding-top: 25px;
	height: 0;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
}
.videoWRAPPER iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  border: 0;
}

#homePAGE {
  .console {
    border-color: white;
  }
  #nav {
    border-color: white;
  }
  #landingVIDEO {
    display: block;
  }
  #animCANVAS {
    display: none;
  }
}

#projectsPAGE {
  .content {
    overflow-y: scroll;
    padding: 50px 0;
  }
}

.projectCONTENT {
  section {
    width: calc(100vw - 150px);
    height: calc(100vh - 100px);
    margin-bottom: 25px;
    padding: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    &.logoSECTION {
      @include flex-c;
      .projectLOGO {
        margin: 0 auto;
        margin-bottom: 50px;
      }
      p {
        width: 300px;
        margin-bottom: 25px;
        text-align: justify;
      }
    }
    &.videoSECTION {
      padding-top: 0;
      height: auto;
    }
    &.sliderSECTION {
      padding: 0;
    }
  }
}

.projectSharingICONS {
  @include flex-r;
  margin-top: 25px;
  a {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
  img {
    height: 30px;
  }
}

#projectPAGE {
  .content {
    overflow-y: scroll;
  }
  .projectLOGO {
    width: 500px;
  }
}

//
//
//
//
//
//
//
//
//
//
//
