/*///////////////////////////////////////////////////////// Tablet Landscape  */
@media only screen and (max-device-width: 1025px) and (orientation: landscape) {
  .content {
    width: 100%;
    height: calc(100% - 50px);
  }

  .theme {
    #nav {
      #sharingICONS {
        .sharingB {
          img {
            &:first-child {
              opacity: 0 !important;
            }
            &:last-child {
              opacity: 1 !important;
            }
          }
        }
      }
    }
  }

  #landingVIDEO {
    display: none;
  }

  #landingGIF {
    display: block;
  }

  #nav {
    width: 100%;
    float: none;
    height: 50px;
    border-right: 0;
    border-bottom: 1px solid white;
    .navB, .sharingB {
      width: 33.333%;
      height: 100%;
      float: left;
      outline: none;
      position: relative;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      &:hover {
        img {
          &:nth-child(1) {
            opacity: 0;
          }
          &:nth-child(2) {
            opacity: 1;
          }
        }
      }
      &:active {
        &:after {
          display: block;
          opacity: 0;
          background: black;
          @include animation('opacity .5s 1');
        }
      }
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
      img {
        bottom: 14px;
        width: 18px;
      }
      p {
        display: block;
        font-size: 12px;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 5px;
        left: 0;
      }
    }
    #sharingICONS {
      @include flex-r;
      position: fixed;
      z-index: 1000;
      width: 100%;
      height: 50px;
      .sharingB {
        width: 50px;
        img {
          bottom: 0;
          &:first-child {
            opacity: 1;
          }
          &:last-child {
            opacity: 0;
          }
        }
      }
    }
  }

  .contentSECTION {
    .introTEXT {
      h6 {
        max-width: 80%;
      }
    }
  }

  #homeSECTION {
    background: rgba(0, 0, 0, 0.15);
    #logo {
      width: 75%;
    }
    h5 {
      text-align: center;
    }
  }

  #aboutSECTION {
    #peopleTILES {
      .personTILE {
        width: calc(50% - 12.5px);
        margin-bottom: 25px;
        &:nth-child(2) {
          margin-right: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .content {
    width: 100%;
    height: calc(100% - 50px);
  }

  .theme {
    #nav {
      #sharingICONS {
        .sharingB {
          img {
            &:first-child {
              opacity: 0 !important;
            }
            &:last-child {
              opacity: 1 !important;
            }
          }
        }
      }
    }
  }

  #landingGIF {
    display: block;
  }

  #landingVIDEO {
    display: none;
  }

  #nav {
    @include flex-row;
    width: 100%;
    float: left;
    height: 50px;
    border-right: 0;
    border-bottom: 1px solid white;
    .navB, .sharingB {
      width: 33.333%;
      height: 100%;
      float: left;
      outline: none;
      position: relative;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      &:hover {
        img {
          &:nth-child(1) {
            opacity: 0;
          }
          &:nth-child(2) {
            opacity: 1;
          }
        }
      }
      &:active {
        &:after {
          display: block;
          opacity: 0;
          background: black;
          @include animation('opacity .5s 1');
        }
      }
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
      img {
        bottom: 14px;
        width: 18px;
      }
      p {
        display: block;
        font-size: 12px;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 5px;
        left: 0;
      }
    }
    #sharingICONS {
      @include flex-r;
      position: fixed;
      width: 100%;
      height: 50px;
      .sharingB {
        width: 50px;
        img {
          bottom: 0;
          &:first-child {
            opacity: 1;
          }
          &:last-child {
            opacity: 0;
          }
        }
      }
    }
  }

  .contentSECTION {
    .introTEXT {
      h6 {
        max-width: 100%;
      }
    }
  }

  #homeSECTION {
    background: rgba(0, 0, 0, 0.15);
    #logo {
      width: 90%;
    }
    h5 {
      text-align: center;
    }
  }

  #aboutSECTION {
    overflow-y: scroll;
    #aboutMAP {
      width: 100%;
      height: 300px;
      border-right: 0;
      border-bottom: 1px solid black;
    }
    #aboutCONTENT {
      padding: 25px;
      padding-right: 50px;
      position: relative;
      overflow: hidden;
      height: auto;
    }
  }
}

@media only screen and (max-device-width: 737px) {
  #landscapeIND {
    @include display-flex;
  }
}

@media only screen and (max-width: 415px) {
  @include keyframes(opac) {
    0%   { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

  #landscapeIND {
    display: none;
  }

  .console {
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 45px);
  }

  .content {
    width: 100%;
    height: calc(100% - 50px);
  }

  #landingVIDEO {
    display: none;
  }

  #nav {
    #sharingICONS {
      @include flex-r;
      height: 30px;
      .sharingB {
        height: 30px;
        width: 30px;
        img {
          width: 15px;
        }
      }
    }
  }

  .contentSECTION {
    padding: 15px;
    width: calc(100% + 15px);
    padding-right: 30px;
    .introTEXT {
      height: 65%;
      h6 {
        max-width: none;
        padding: 5px;
      }
    }
  }

  #logo {
    width: 90%;
  }

  #homeSECTION {
    background: rgba(0, 0, 0, 0.15);
    #logo {
      width: 100%;
    }
    h5 {
      font-size: 19px;
      line-height: 21px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
    }
  }

  #aboutSECTION {
    #aboutMAP {
      height: 200px;
    }
    #aboutCONTENT {
      padding: 15px;
      padding-right: 30px;
    }
    #peopleTILES {
      .personTILE {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }
        img {
          margin-bottom: 10px;
        }
        h5, span, a {
          margin-bottom: 0;
        }
      }
    }
  }

  #lookbookSECTION {
    img {
      margin-bottom: 15px;
      &.imgHALF {
        width: calc(50% - 7.5px);
        margin-right: 15px;
        &:nth-child(n+7) {
          &:nth-child(even) {
            margin-right: 15px;
          }
        }
      }
    }
  }
}


//
//
//
//
//
//
//
//
//
//
//
