<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="body">
    {% include preLOADER.html %}
    {% include landscapeIND.html %}
    <!-- /////////////////////////////////////////////////////////// wrapper -->
    <div class="wrapper" id="{{ page.id }}">
      <!-- //////////////////////////////////////////////////////// console  -->
      <div class="console">
        {% include nav.html %}
        <!-- /////////////////////////////////////////////////////// content -->
        <div class="content">
          {{ content }}
        </div>
        {% include canvas.html %}
      </div>
      {% include landingVIDEO.html %}
      {% include landingGIF.html %}
    </div>
  </body>
</html>
